<launch>
    <node pkg="moco_plan" type="moco_track_pix" name="moco_track_pix" output="screen">
	 <remap from="/moco/pix_track_target" to="/moco/color_pix" />  
         <param name="max_spd_x"  value="0.1" />
  	 <param name="max_spd_y"  value="0.1" />
	 <param name="max_rate_z"  value="35" />
	 <param name="en_keyboard"  value="0" />
	 <param name="en_remote"    value="0" />
    </node>

    <node pkg="moco_cv" type="moco_cv_color" name="moco_cv_color" output="screen">
         <param name="ball_size"     value="0.032" />
         <param name="pixz_at_10cm"  value="110" />  
	 <param name="off5cm_pix_at_10cm"  value="220" />  
 	 <param name="show_image"  value="1" />  

    </node>
</launch>
